.form {
  display: flex;
  font-size: 1rem;
}

.input {
  font-size: 1rem;
  margin-right: 1rem;
}

.label {
  font-size: 1rem;
}

.btn {
  height: 30px;
  width: 30px;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.btn:hover {
  background-color: lightgray;
  border-radius: 50%;
}
