p {
  padding: 0;
  margin: 0;
}

.list {
  padding: 0;
  width: fit-content;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.item:hover {
  background-color: aliceblue;
}

.name {
  display: inline-block;
  overflow: hidden;
  width: 150px;
}

.phone-number {
  display: inline-block;
  overflow: hidden;
  width: 190px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: darkslategrey;
}
